<h1>Students</h1>

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
        <th>
          <a href="">
            <i class="fa fa-plus"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="students">
        <td colspan="5">Loading...</td>
      </tr>
      <tr  *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td>{{student.email}}</td>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>
          <a href="">
            <i class="fa fa-pencil"></i>
          </a>
          <a href="javascript:void(0)">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>