<br><br>
<button routerLink="/student/add">[ Add New Student ]</button>
<h3>Students List</h3>
<table class="students">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>        
        <th>
          <a href="">
            <i class="fa fa-plus"></i>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!students">
        <td colspan="5">Loading...</td>
      </tr>
      <tr  *ngFor="let student of students">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>
          <a href="" routerLink="/student/{{student.id}}">more...
            <i class="fa fa-pencil"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>